<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{commons/layout}">

    <head>
        <meta charset="UTF-8">
        <title>Welcome page</title>
    </head>

    <body>
        <!-- Main Contents for replacing -->
        <div layout:fragment="content">
            <h2>Welcome to my page!!</h2>
            Let's master of Spring Framework!
        </div>
    </body>
</html>
