<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Index Page</title>
    </head>

    <body>
        <form th:action="@{/confirm}" method="post">
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="age">Age: </label>
                <input type="number" name="age" min="1" max="120">
            </div>
            <div>
                <label for="birth">Birth: </label>
                <input type="date" name="birth">
            </div>

            <input type="submit" value="Send">
        </form>
    </body>
</html>